.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
}

.container {
  background-color: #f9f9f9;
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
}

.loading-container {
  text-align: center;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.quiz-container {
  padding: 15px;
  padding-bottom: 100px;
}

.quiz-container-inner {
  padding: 10px;
  min-width: 200px;
  max-width: 80%;
  margin: 0 auto;
}

.quiz-header {
  text-align: center;
}

.quiz-questions {
}

.quiz-buttons {
  float: right;
}

.quiz-results-container {
  padding: 20px;
  background-color: #fffcfc;
  border: 1px solid #f2efef;
  margin-top: 40px;
  text-align: center;
}

.question-container {
  margin-bottom: 15px;
  background-color: #fffcfc;
  border: 1px solid #f2efef;
}

.question-text {
  padding: 20px;
}

.question-options-container {
  padding: 10px;
}

.question-option-container {
  background-color: #f9f9f9;
  padding-left: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.question-option-container:hover {
  background-color: #e8e8e8;
}

.question-option-text {
  padding: 5px;
  margin-left: 10px;
  display: inline-block;
}

.question-option-answer-correct {
  height: 100%;
  width: 2%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #6ad186;
}

.question-option-answer-incorrect {
  height: 100%;
  width: 2%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff7775;
}

.button-container {
  width: 75px;
  height: 17px;
  background-color: #f9f9f9;
  border: 1px solid #f2efef;
  padding: 10px;
  text-align: center;
}

.button-container:hover {
  background-color: #e8e8e8;
}