.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  /* background-color: black; */
}

.quiz-container {
  width: 70%;
  padding: 15px;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.question-container {
  padding: 10px;
  min-width: 200px;
  max-width: 80%;
  margin: 0 auto;
  background-color: #fffcfc;
  border: 1px solid #f2efef;
}

.question-text {
  text-align: center;
  padding: 20px;
}

.question-options-container {
  padding: 10px;
}

.question-option-container {
  background-color: #f9f9f9;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.question-option-text {
  padding: 15px;
  margin-left: 10px;
  display: inline-block;
}

.question-option-answer-correct {
  height: 100%;
  width: 2%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #6ad186;
}

.question-option-answer-incorrect {
  height: 100%;
  width: 2%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff7775;
}